.container {
    width: 99%;
    margin: 0 auto;
    padding: 20px;
    background-color: #04F9F1;
    border-radius: 10px;
    box-shadow: 0 0 10px (0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #040404;
}

.inputs-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #040404;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #F9FDF9;
    border-radius: 5px;
    resize: none;
    background-color: #F9FDF9;
    color: #040404;
}

.analizadores {
    display: flex;
    justify-content: space-between;
}

.analizador-lexico,
.analizador-sintactico {
    width: 48%;
    background-color: #01F5FD;
    border: 1px solid #01F5FD;
    border-radius: 5px;
    padding: 20px;
}

.analizador-lexico h2,
.analizador-sintactico h2 {
    text-align: center;
    color: #0a0a0a;
    margin-bottom: 20px;
}

button {
    background-color: #EAFD01;
    color: #040404;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #01FDF9;
}

.esquina-superior-izquierda {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}



